<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SupaSet.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SupaSetWidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D9A0C1182CD9E803008F4E70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9A0C1292CD9E805008F4E70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9A0C1332CD9E805008F4E70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9AF18382CDEBF42001ACDDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
